@import '../../assets/stylesheet/variables.scss';

.subtitle {
	font-weight: 300;
	color: $grey-light;
	margin: 0;
	font-size: 15px;
}

.green {
	color: $grey-main;
}

.violet {
	color: $violet-main;
}
