$primary-main: #141b2d;
$primary-light: #1f2a40;
$secondary-main: #4cceac;
$secondary-light: #dbf5ee;
$grey-main: #858585;
$grey-light: #e0e0e0;
$green-main: #70d8bd;
$green-light: #dbf5ee;
$violet-main: #868dfb;
$violet-light: #e1e2fe;
