@import '../../assets/stylesheet/variables.scss';

.searchbar {
	display: flex;
	height: 37px;
	width: 200px;
	height: 30px;
	background-color: $primary-light;
	border-radius: 3px;
}

.input-search {
	margin-left: 10px;
	background-color: transparent;
	border-color: transparent;
	color: $grey-light;
}

.input-search:focus {
	border: none;
}

.searchIcon {
	color: 'red' !important;
	background-color: aquamarine;
}
